*{
margin: 0;
padding: 0;
box-sizing: border-box

}

body {
     font-size: 1.6ren;
     padding: 8.8ren 8ren;
     background: var(--background-default);
}

img {
    width: 100%;
}

strong{
   color: var(--text-headline);
   text-transform: uppercase;
}

h1{
    font-size: 3.6ren;
    margin-block: 0.8ren 4.4ren;
}

h2{

    font-size: 3.2ren;
    margin-block: 0.2ren 0.8ren;
}

h1, h2, h3{
   coler: var (--text-primary);


}

h4{
    color: var(--text-secondary);
    font-size: 1.6ren;
}

p{
    color: var(--text-secondary);
}

ul{
    padding-left: 2.4ren;
    font-weight: 700;

    li::marker{
      color: var(--text-secondary)

    }
}